* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #676767;
}

ul {
    list-style-type: none;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    padding: 46px 0 24px;
    border-bottom: 1px solid #cbcbcb;
}

.header, .hero-section, .application-section, .restaurants-section, .dishes-section {
    margin: 0 94px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 103px;
}

.logo-image {
    margin-right: 11px;
}

.logo-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    color: #6C5FBC;
}

.menu {
    flex-grow: 2;
    font-weight: 500;
    color: #606060;
}

.menu-list {
    display: flex;
    column-gap: 54px;
}

.button-container {
    font-size: 0;
}

.text-button {
    color: #606060;
    padding: 0;
    background: transparent;
    border: none;
}

.primary-button {
    color: #FFFFFF;
    background-color: #6C5FBC;
    border: none;
}

.primary-button, .secondary-button {
    padding: 18px 30px;
    border-radius: 12px;
}

.hero-section {
    padding: 20px 0;
}

.hero-information {
    grid-column: span 5;
    padding-top: 70px;
}

.hero-images {
    grid-column: span 7;
}

.hero-subtitle, .hero-title, .hero-text, .hero-buttons {
    margin-bottom: 30px;
}

.hero-images {
    justify-self: end;
}

.subtitle, .title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.hero-subtitle {
    position: relative;
    padding-left: 64px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #201F1F33;
    text-transform: uppercase;

}

.hero-subtitle::before {
    content: "";
    height: 1px;
    width: 54px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #201F1F33;
}

.hero-title {
    font-size: 75px;
    line-height: 90px;
    letter-spacing: -3px;
    color: #201F1F;
}

.secondary-button {
    color: #6C5FBC;
    background: transparent;
    border: 1.5px solid #6C5FBC;
}

.hero-rating {
    display: flex;
    align-items: end;
    column-gap: 15px;
}

.rating-amount {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #334155;
}

.food-image, .application-image, .restaurant-image {
    object-fit: cover;
    object-position: top;
}

.achievements-container {
    background-color: #5C4EAE;
    color: #FFFFFF;
}

.achievements-list {
    padding: 30px 94px;
}

.grid-item-1 {
    grid-column: 2 / span 2;
}

.grid-item-2 {
    grid-column: 6 / span 2;
}

.grid-item-3 {
    grid-column: 10 / span 2;
}

.achievements-item p {
    text-align: center;
}

.achievements-amount {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    font-size: 43px;
    line-height: 54px;
}

.achievements-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #C5BFED;
}

.application-section, .restaurants-section, .dishes-section {
    padding: 80px 0;
    border-bottom: 1px solid #cbcbcb;
}

.application-image {
    grid-column: 3 / span 4;
}

.application-information {
    grid-column: span 4;
}

.application-title {
    font-size: 51px;
    line-height: 58px;
    color: #18181B;
    padding-top: 90px;
}

.application-list {
    list-style-type: disc;
    margin-left: 12px;
    padding: 60px 0 60px 8px;
    font-size: 20px;
    line-height: 30px; 
}

.application-item:not(:last-child) {
    margin-bottom: 30px;
}

.restaurants-title, .dishes-title {
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    padding-bottom: 80px;
}

.restaurants-list, .dishes-list {
    margin-bottom: 60px;
}

.restaurant-item {
    grid-column: span 4;
    border-radius: 30px;
    overflow: hidden;
    line-height: 0;
    box-shadow: 6px 71px 36px 0 #E5E5E5B3; 
}

.restaurant-image, .dishes-image {
    width: 100%;
}

.restaurant-information {
    padding: 25px;
}

.restaurant-tag, .dishes-tag {
    background-color: #F7EDD0;
    color: #DAA31A;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    border-radius: 5px;
    max-width: fit-content;
    padding: 3px 8px;
}

.restaurant-name {
    font-size: 26px;
    line-height: 42px;
}

.restaurant-name, .dishes-name {
    color: #323142;
}

.restaurant-bottom {
    display: flex;
    justify-content: space-between;
}

.time-rating {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #8E97A6;
    font-size: 19px;
    line-height: 26px;
}

.favourites-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #DBD9EE;
    border: none;
    position: relative;
}

.favourites-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view-all-container {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 10px;
}

.dishes-item {
    grid-column: span 2;
    border-radius: 35px;
    overflow: hidden;
    line-height: 0;
    box-shadow: 7px 82px 41px 0 #E5E5E5B3; 
    border: 1px solid #F4F4F6;
    position: relative;
    padding: 25px 20px;
}

.dishes-favourites {
    position: absolute;
    right: 18px;
    top: 18px;
}

.dishes-information {
    padding: 8px 8px 0;
}

.dishes-name {
    font-size: 23px;
    line-height: 38px;
}

.dishes-time-rating {
    margin-bottom: 15px;
}

.price-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-dish {
    font-weight: 700;
    font-size: 19px;
    color: #8E97A6;
}

.add-button {
    width: 44px;
    height: 40px;
    border: none;
    background-image: url("img/add-btn.svg");
    background-size: cover;
}