* {
    margin: 0;
    padding: 0;
}

.page {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #676767;
    background-color: #F9F9F9;
}

.header__inner {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cbcbcb;
    padding: 24px 0;
}

.header__inner, 
.hero-section__inner, 
.app-section__inner, 
.restaurants-section__inner, 
.dishes-section__inner,
.purchases-section__inner {
    margin: 0 94px;
}

.logo {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 103px;
}

.logo__image {
    margin-right: 11px;
}

.logo__text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    color: #6C5FBC;
}

.menu {
    font-weight: 500;
    color: #606060;
}

.header__menu {
    flex-grow: 2;
}

.list {
    list-style-type: none;
}

.menu__list {
    display: flex;
    column-gap: 54px;
}

.buttons-container {
    font-size: 0;
}

.button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.text-button {
    color: #606060;
    padding: 0;
    background: transparent;
    border: none;
}

.primary-button {
    color: #FFFFFF;
    background-color: #6C5FBC;
    border: none;
}

.primary-button, .secondary-button {
    padding: 18px 30px;
    border-radius: 12px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.hero-section {
    padding: 20px 0;
}

.hero-section__text-content {
    grid-column: span 5;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.subtitle, .title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.hero-section__subtitle {
    position: relative;
    padding-left: 64px;
    font-size: 15px;
    letter-spacing: 2px;
    color: #201F1F33;
    text-transform: uppercase;
}

.hero-section__subtitle::before {
    content: "";
    height: 1px;
    width: 54px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #201F1F33;
}

.h1 {
    font-size: 75px;
    line-height: 90px;
    letter-spacing: -3px;
    color: #201F1F;
}

.secondary-button {
    color: #6C5FBC;
    background: transparent;
    border: 1.5px solid #6C5FBC;
}

.hero-section__rating {
    display: flex;
    align-items: end;
    column-gap: 15px;
}

.rating__amount {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #334155;
}

.hero-section__image-content{
    grid-column: span 7;
    justify-self: end;
}

.hero-section__image, .app-section__image, .restaurant-image {
    object-fit: cover;
    object-position: top;
}

.achievements {
    background-color: #5C4EAE;
    color: #FFFFFF;
}

.achievements__list {
    padding: 30px 94px;
}

.achievements__column1 {
    grid-column: 2 / span 2;
}

.achievements__column2 {
    grid-column: 6 / span 2;
}

.achievements__column3 {
    grid-column: 10 / span 2;
}

.achievements__title, .achievements__text{
    text-align: center;
}

.achievements__title {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    font-size: 43px;
    line-height: 54px;
}

.achievements__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #C5BFED;
}

.app-section__inner, .restaurants-section__inner, .dishes-section__inner, .purchases-section__inner {
    border-bottom: 1px solid #cbcbcb;
}

.app-section__inner, .restaurants-section__inner, .dishes-section__inner, .reviews-section__inner, .purchases-section__inner {
    padding: 80px 0;
}

.app-section__image {
    grid-column: 3 / span 4;
}

.app-section__text-content {
    grid-column: span 4;
}

.app-section__title {
    padding-top: 90px;
    color: #18181B;
}

.h2 {
    font-size: 50px;
    line-height: 58px;
}

.app-section__list {
    list-style-type: disc;
    margin-left: 12px;
    padding: 60px 0 60px 8px;
    font-size: 20px;
    line-height: 30px; 
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.restaurants-section__title, .dishes-section__title, .reviews-section__title {
    text-align: center;
    padding-bottom: 80px;
    grid-column: span 12;
}

.restaurants-section__list, .dishes-section__list {
    display: contents;
}

.restaurants-section__item {
    grid-column: span 4;
    border-radius: 30px;
    overflow: hidden;
    line-height: 0;
    box-shadow: 6px 30px 36px 0 #E5E5E5B3; 
}

.restaurant__image, .dish__image {
    width: 100%;
}

.restaurant__text-content {
    padding: 25px;
}

.tag {
    background-color: #F7EDD0;
    color: #DAA31A;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    border-radius: 5px;
    max-width: fit-content;
    padding: 3px 8px;
}

.h3 {
    font-size: 26px;
    line-height: 42px;
    color: #323142;
}

.restaurant__desc-container, .dish__footer {
    display: flex;
    justify-content: space-between;
}

.restaurant__desc-text, .dish__desc-text {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #8E97A6;
    font-size: 19px;
    line-height: 26px;
}

.favourites-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #DBD9EE;
    border: none;
    position: relative;
}

.favourites-button__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view-all {
    grid-column: span 12;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 10px;
    padding-top: 60px;
}

.dishes-section__item {
    grid-column: span 2;
    border-radius: 35px;
    overflow: hidden;
    line-height: 0;
    box-shadow: 7px 30px 41px 0 #E5E5E5B3; 
    border: 1px solid #F4F4F6;
    position: relative;
    padding: 25px 20px;
}

.dish__favourites {
    position: absolute;
    right: 18px;
    top: 18px;
}

.dish__text-content {
    padding: 8px 8px 0;
}

.dish__desc-text {
    margin-bottom: 15px;
}

.dish__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dish__price {
    font-weight: 700;
    font-size: 19px;
    color: #8E97A6;
}

.dish__add-button {
    width: 44px;
    height: 40px;
    border: none;
    background-image: url("img/add-btn.svg");
    background-size: cover;
}

.purchases-section__left {
    grid-column: span 5;
}

.purchases-section__title {
    padding-bottom: 50px;
}

.order-list__item {
    box-shadow: 0 15px 30px 0 #4646461A; 
    border-radius: 12px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    border: 1px solid #F4F4F6; 
    margin-bottom: 15px;   
}

.order-list__status, .order-list__time {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 27px;
}

.order-list__status {
    color: #323142;
}

.order-list__time {
    color: #ACADB9;
    flex-grow: 2;
    text-align: end;
    align-self: flex-end;
}

.purchases-section__right {
    grid-column: 8 / span 5;
}

.purchases-table {
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 1.5px solid #EDF2F7;
    color: #1A202C;
}

.purchases-table__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.purchases-table__title {
    font-size: 30px;
    color: #1A202C;
}

.purchases-table__filter {
    display: inline-block;
    border-radius: 12px;
    background-color: #FAFAFA;
    font-size: 19px;
    line-height: 42px;
    padding: 0 20px;
}

.purchases-table__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.purchase {
    border-radius: 19px;
    border: 1.5px solid #EDF2F7;
    padding: 25px;
}

.purchase__inner {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.h4 {
    font-size: 19px;
    line-height: 28px;
}

.purchase__desc {
    font-weight: 16px;
    color: #A0AEC0;
}

.purchase__price {
    flex-grow: 2;
    text-align: end;
    font-weight: 700;
    font-size: 22px;
}

.line-progress {
    height: 10px;
    width: 100%;
    background-color: #6C5FBC33;
    border-radius: 78px;
}

.purchase__line-progress, .other-reviews__line-progress {
    position: relative;
}  

.line-progress__active {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 70%;
    background-color: #6C5FBC;
    border-radius: 78px;
}

.reviews-section__full-review {
    margin-left: 94px;
}

.full-review {
    grid-column: span 5;
    background-image: url("img/review-decor.svg");
    background-repeat: no-repeat;
    background-position: top 40px right 40px;
}

.full-review, .other-review {
    border-radius: 21px;
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    line-height: 0;
    color: #636363;
    padding: 40px;
}

.full-review__header {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.full-review__title {
    font-weight: 500;
    font-size: 21px;
    line-height: normal;
    color: #030314;
}

.full-review__subtitle {
    font-weight: 300;
    font-size: 17px;
    line-height: normal;
    color: #5E5D5D;
}

.full-review__text, .other-review__text {
    font-style: italic;
    font-size: 18px;
    line-height: normal;
}

.full-review__text {
    padding: 30px 0;
}

.other-reviews {
    grid-column: span 7;
}

.other-reviews__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.other-reviews__line-progress {
    width: calc(100% - 94px);
}

.other-reviews__list {
    display: flex;
    column-gap: 20px;
    overflow: hidden;
}

.other-review {
    min-width: 500px;
}

.other-review__text {
    padding-bottom: 30px;
}